    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    @font-face{
        font-family: "fontinsta";
        src: url("../fonts/Lobster-Regular.ttf");
    }

    form{
        float: right;
        width: 35%;
        height: auto;
        margin-right: 130px;
        margin-top: 50px;
        
    }

    fieldset{
        border: 2px solid grey  ;
        text-align: center;
        margin-top: 20px;
    }

    form h2{
        font-style: normal;
        font-family: 'fontinsta';
        font-weight: normal; 
        font-size: 60px;
        text-align: center;
        padding: 30px 0;
    }

    form input[type=text]{
        margin: 10px 0;
        width: 350px;
        font-size: 15px;
        color: grey;
        padding: 10px 10px;
    }

    form input[type=senha]{
        width: 350px;
        font-size: 15px;
        color: grey;
        padding: 10px 10px;
    }

    form input[type=submit]{
        margin: 30px 0;
        width: 350px;
        height: 40px;
        font-size: 20px;
        font-weight: bolder;
        background-color: aqua;
        color: aliceblue;
        cursor: pointer;
    }

    .border{
        margin-bottom: 70px;
        border-bottom: 2px solid gray;
    }

    form h3{    
        position: relative;
        font-size: 27px;
        font-weight: normal;
        top: 20px;
    }

    form #face{
        width: 50px;
        position: relative;
        left: -120px;
        top: -40px;
    }

    #topo p{
        color: blue;
    }

    #topo a{
        margin-top: -30px;
        color: blue;
        text-decoration: none;
    }

    #medio{
        padding: 30px;
    }

    #medio a{
        color:rgb(0, 161, 161);
        text-decoration: none;
        font-weight: bolder;
    }

    .final{
        border: none;
        margin-top: 30px;
    }

    .final p{
        margin-bottom: 20px;
    }

    .final img{
        width: 35%;
    }

    .final #google{
        width: 38%;
        top: -10px;
        position: relative;

    }
    #ima{
        float: left;    
        width: 50%;
        height: auto;
        margin-left: 50px;
        margin-top: 50px;
        
    }
    #ima #img2{
        width: 100%;
        height: 120%;
    }
    

   
